.logo{
    width: 50px;
    height: auto;
    margin-top: 5px;
    margin-right: 500px;
}
nav{
    display: flex;
    justify-content: space-around;
}
header{
    background-color: #19683C;
    color: rgb(255, 255, 255);
    height: 60px;
    align-items: center;
    box-shadow: 0px 0px 1px #fff;
}
nav a:hover{
    color: orange;
}
header nav ul li {
    display: inline-block;
    padding: 0px 40px;
    font-weight: 700;
    transition: 0.5s;
    transform: scale(1.10);
}
nav a{
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}
nav li{
    cursor: pointer;
}
.material-symbols-outlined{
    font-size: 20px;
    color: black;
    margin-right: 10px;
}